input[type=number]::-webkin-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.drop-zone {
	border: dotted 3px lightgray;
}

.ng-file-over-green {
	border: dotted 3px green;
}